# print statement

In [10]:
print("hello world")

hello world

In [15]:
age=32
print("my age is:",age)

my age is: 32

In [55]:
children=2
name="Felicity and Feyikemi"
ages=3
print("Juwe has", children, " kids namely", name, ". They are", ages, "Respectively")

Juwe has 2  kids namely Felicity and Feyikemi . They are 3 Respectively

In [ ]:
""
## F string is used for formatting concatenatd cells to be printed. use as below

""

In [56]:

print(f"Juwe has, {children} kids namely {name}. They are {ages} Respectively")

Juwe has, 2 kids namely Felicity and Feyikemi. They are 3 Respectively

In [54]:
## formatting: in pythom numbers starts from 0

name="Moses Juwe"
Age=35
country="Hull, United Kingdom"
print(f"Hello everyone i am {name} and i am {Age} from {country}. it's nice to meet you all")

Hello everyone i am Moses Juwe and i am 35 from Hull, United Kingdom. it's nice to meet you all

In [52]:
print("Hello everyone i am {} and i am {} from {}. it's nice to meet you all".format(name,Age,country))

Hello everyone i am Moses Juwe and i am 35 from Hull, United Kingdom. it's nice to meet you all

# control flow

## Decision making statements
  * It is used to make decisions during occuring situations
  * we can also use it to structure of discussion for decision making
### These are several topics in decision making which are:
1. IF statements
2. IF else
3. If elif else
4. Nested if
5. Single Statement Suites

In [57]:
## if statements with python
age=18
if age>=18:
    print("you are eligible to vote because you are above {}".format(age))

you are eligible to vote because you are above 18

In [61]:
## if statements with python
age=17
if age<18:
    print("you are not eligible to vote because you are below {}".format(age))

you are not eligible to vote because you are below 17

In [ ]:
age=int(input("Enter Your Age"))
if age>=18 and age<=32:
    print("You are young blood")

In [ ]:
age=int(input("Enter Your Age"))
if age>=18 and age<=32:
    print("You are young blood")